{% extends 'base.html.twig' %}

{% block body %}
    <div class="head">
        <strong>Carrito de compras</strong>
        <div style="float: right;">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>Email: {{ app.user.email }}</p>
        {% endif %}
            <button class="boton">Ver orden</button>
            <button class="boton">Salir</button>
</div>
</div>
<h2 class="title">Lista de productos</h2>
<div class="productos">
{% for producto in productos %}
<div class="producto">
    <img src="{{ asset (producto.imagen)}} "alt="{{producto.nombre}}" class ="imagen-producto">
    <h2>{{producto.nombre}}</h2>
    <p>{{producto.descripcion}}</p>
    <p class="precio">Precio: ${{producto.precio}} </p>
    <button class="boton">Ver Detalles</button>
    </div>
        {% else %}
        <p>No hay productos disponibles</p>
        {% endfor %}
        </div>
{% endblock %}
